<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Hero Fight</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Superhero Fight</h1>
      <p><a href="/">Go back to more fighters</a></p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-warning text-white">
          <div class="card-header text-center display-4">
            <%= firstHero.name %>
          </div>
          <div class="card-img-top characterPic">
            <img src="<%= firstHeroImage.url %>" alt="Hero Image" />
          </div>
          <div class="card-text text-center stats">
            Intelligence:<%= firstHero.intelligence %>
          </div>
          <div class="card-text text-center stats ">
            Strength: <%= firstHero.strength %>
          </div>
          <div class="card-text text-center stats ">
            Speed: <%= firstHero.speed %>
          </div>
          <div class="card-text text-center stats ">
            Durability: <%= firstHero.durability %>
          </div>
          <div class="card-text text-center stats ">
            Power: <%= firstHero.power %>
          </div>
          <div class="card-text text-center stats ">
            Combat: <%= firstHero.combat %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-warning text-white">
          <div class="card-header text-center display-4">
            <%= secondHero.name %>
          </div>
          <div class="card-img-top characterPic">
            <img src="<%= secondHeroImage.url %>" alt="Hero Image" />
          </div>
          <div class="card-text text-center stats">
            Intelligence: <%= secondHero.intelligence %>
          </div>
          <div class="card-text text-center stats">
            Strength: <%= secondHero.strength %>
          </div>
          <div class="card-text text-center stats">
            Speed: <%= secondHero.speed %>
          </div>
          <div class="card-text text-center stats">
            Durability: <%= secondHero.durability %>
          </div>
          <div class="card-text text-center stats">
            Power: <%= secondHero.power %>
          </div>
          <div class="card-text text-center stats">
            Combat: <%= secondHero.combat %>
          </div>
        </div>
      </div>
    </div>
    <script>
      console.log(firstHero.power);
    </script>
  </body>
</html>
